$max_width: 100%;
$header_height: 30px;
$footer_height: 0px;
$menu_width: 150px;
$menu_height: calc(100% - $header_height - $footer_height);
$content_width: calc($max_width - $menu_width);
$content_height: calc(100% - $header_height - $footer_height);

$main_color: #121212;
$sub-color1: #252525;
$sub-color2: #1a1a1a;
$sub-color3: #252525;

$_active_color: #9d9d9d;

$border-color1: #464646;

$text_color: #ffffff;
