:root {
  --header-height: 30;
  --footer-height: 30;
  --category-width: 90;
}

body {
  margin: 0;
}

#app {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: calc(var(--header-height) * 1px);
  padding-bottom: calc(var(--footer-height) * 1px);
}

header {
  position: fixed;
  display: flex;
  width: 100%;
  height: calc(var(--header-height) * 1px);
  top: 0;
  left: 0;
  background-color: darkblue;
  justify-content: space-between;
}

.menu {
  text-decoration-line: none;
  text-decoration-color: white;
}

.menu:visited {
  color: white;
}

.content {
  padding: 5px;
}

footer {
  position: fixed;
  width: 100%;
  height: calc(var(--footer-height) * 1px);
  bottom: 0;
  left: 0;
  background-color: darkblue;
}

.category {
  height: 100%;
  width: calc(var(--category-width) * 1px);
  float: left;
}

.categoryItem.level1 {
  font-size: 15px;
}

.categoryItem.level2 {
  font-size: 12px;
  padding-left: 3px;
}

.categoryItem.level3 {
  font-size: 9px;
  padding-left: 6px;
}

.category + div {
  width: calc(100% - var(--category-width) * 1px);
  padding-left: calc(var(--category-width) * 1px);
}

.center {
  margin: auto;
  width: fit-content;
}

.titleArea {
}

.contentArea {
  width: 100%;
}

.btnArea {
  display: inline-block;
  float: right;
}

table.list {
  width: calc(100% - 10px);
  margin: 5px;
  border: black solid 1px;
  border-spacing: 3px;
}

table.list > thead > tr > th,
table.list > thead > tr > td {
  font-size: small;
  font-weight: bold;
  border-bottom: black solid 1px;
}

table.list > tbody > tr > th,
table.list > tbody > tr > td {
  font-size: small;
  font-weight: normal;
}

table.list > tbody > tr > th:not(:last-child),
table.list > tbody > tr > td:not(:last-child) {
  border-right: black solid 1px;
}

.pagination {
}

.pagination button.current {
  background-color: deepskyblue;
}
